[Desktop Entry]
Type=Application
Name=Simple Design
Comment=Vector design tool
Exec=simple-design
Icon=io.github.fabiomattei.simple-design
Terminal=false
Categories=Graphics;2DGraphics;VectorGraphics;
StartupWMClass=simple-design
