[Desktop Entry]
Type=Application
Name=Simple Design
Comment=Vector design tool
Exec=__EXEC_PATH__
Icon=__ICON_PATH__
Terminal=false
Categories=Graphics;2DGraphics;VectorGraphics;
StartupWMClass=simple-design
